a {
    display: block;
    line-height: 40px;
    width: 75px;
    padding-left: 10px;
}
a:link {
  color: #ff0000;
  font-weight: bold;
}
a:visited {
  color: #2d8612;
  font-weight: bold;
}
a:hover {
  color: #ffffff;
  background-color: #ff0000;
  padding: 2px;
  text-decoration: none;
}
